<div class="container" fxLayout="column" fxLayoutAlign="space-around start">
  <div id="map" style="width: 90%; height: 600px;"></div>
  <div><input id="pac-input" class="controls" type="text" placeholder="Search Box" /></div>
</div>
